@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    font-family: League Spartan;
}
body {
    font-family: League Spartan;
    margin: 0;
    padding: 0;
    background-image: url('../assets/img/gradient.png'); /* Cambia esto por la ruta de tu imagen */
    background-size: cover;
    background-attachment: repeat;
    background-position: 0 0;
    color: #333;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 10px; 
}

.header-left {
    display: flex;
    align-items: center;
}



.header h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

.name h1{
    font-size: 40px;
}
.subtitle {
    font-size:20px; /* Tamaño más pequeño */
    font-family: League Spartan;
}

.nav-bar {
    display: flex;
}

.nav-bar a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease; /* Añadir una transición suave */
}

/* Estilo hover para los enlaces del menú de navegación */
.nav-bar a:hover {
    color: #ee7152; /* Cambiar el color del texto al hacer hover */
   
    border-radius: 5px; /* Añadir borde redondeado para que la sombra se vea mejor */
    padding: 5px; /* Añadir padding para dar más espacio a la sombra */
}

.texto-hero h1{
    font-size: 35px;
    font-family: League Spartan;
    
}



#typed-text {
    display: inline;
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    font-family: League Spartan;
}

.typing {
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.about-me {
    padding: 60px 0;
    font-family: League Spartan;
    
}

.about-me h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-me p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.about-me a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.about-me a:hover {
    color: #EE8F52;
}

.about-me .btn {
    font-size: 1rem;
    font-weight: bold;
}


